.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

.content {
  text-align: center;
  max-width: 600px;
  animation: slideUp 0.8s ease;
  margin-top: -25%;
}

.logo {
  width: min(580px, 60vw);
  height: auto;
  margin: 0 auto 0px auto;
  display: block;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #1E3A57 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: -25%;
}

.subtitle {
  font-size: 1.5rem;
  color: #696767;
  margin-bottom: 20px;
  font-weight: 500;
  
}

.description {
  font-size: 1rem;
  color: #9999997b;
  line-height: 1.6;
  margin-bottom: 40px;
  margin-top: -3.5%;
}

.btn-empezar {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #1e3a57;
  min-width: 200px;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: visible;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  position: relative;
  z-index: 1;
}

.btn-empezar::before {
  content: '';
  position: absolute;
  inset: -2.5px;
  border-radius: 40px;
  background: conic-gradient(
    from var(--angle),
    transparent 0%,
    #075f8e 80%,
    #0e6eaa 90%,
    transparent 100%
  );
  animation: borderRotate 2s linear infinite;
  z-index: -1;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  padding: 3px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderRotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.btn-empezar:hover {
  opacity: .95;
  transform: scale(1.10);
  box-shadow: 0 8px 18px rgba(0, 0, 0, .18);
}

.btn-empezar:active {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
